<% if flash[:notice] %>
<div class="alert">
  <%= flash[:notice] %>
</div>
<% end %>
<h2> Click on a row to place a vote for that particular snack </h2>
<table  id="snack_list" cellspacing="0" cellpadding="0" >
  <thead>
    <tr>
      <td  class="name"> Name </td>
      <td class="quantity"> Quantity </td>
      <td class="price"> Price </td>
      <td class="votes"> Number of Votes </td>
    </tr>
  </thead>
  <tbody>
    <% if !@snacks.blank? %>
      <% for item in @snacks %>
        <tr id="<%= item.id %>">
          <td class="name"> <%= item.name %> </td>
          <td class="quantity"><%= item.quantity %> </td>
          <td class="price"> $ <%= item.price %> </td>
          <td class="votes"> <%= item.votes %> </td>
        </tr>
      <% end %>
    <% else %>
      
    <% end %>
    
  </tbody>
</table>

<div class="form_instructions"> 
  <p>Don't see your snack on the list? </p>
  <a id="show_form">Click Here to Add it</a>
</div>

<%= render :partial => "snack_form" %>

<script type="text/javascript">
  $(function  () {
    $("#show_form").click(function  () {
      $(".form_container").toggle();
    });
    
    $("table tbody tr").click(function(){
      $.ajax({
        url: 'snacks/' + $(this).attr("id"),
        type: 'PUT',
        dataType: 'html',
        data:null,
        success: function(xhr, textStatus){
          location.reload(true);
        },
        error: function(xhr, textStatus, errorThrown) {
          $("h2").before( "<div class='alert'> Your Vote could not be counted please try again soon </div>");
        }
      });
      
    });
    
  });
</script>